html {
    width: 100%;
    height: 100%;
    background: #2F4F4F;
    
}

@import 'https://fonts.googleapis.com/css?family=Orbitron';
#header {
    top: 0%;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 55px;
    font-size: 35px;
    position: absolute;
    background-color: transparent;
}

#login-button {
    right: 1%;
    cursor: pointer;
    position: absolute;
}

#name-header {
    width: 20%;
    left: 35px;
    width: 250px;
    text-align: left;
    position: absolute;
}

.user-menu-option {
    cursor: pointer;
    text-align: center;
}

#user-menu-button {
    right: 1%;
    cursor: pointer;
    text-align: center;
    position: absolute;
}

#user-menu {
    top: 35px;
    right: 0%;
    width: 20%;
    z-index: 5;
    position: absolute;
    background-color: .transparent{
  background:rgba(0,0,0,0.5);
};
}

#header-icon {
    width: 30px;
    height: 30px;
}

#message-input {
    left: 0%;
    width: 90%;
    bottom: 0px;
    height: 25px;
    opacity: 0.5;
    position: absolute;
    background: aliceblue;
    font-size: 14px;
}

#send-button {
    right: 0%;
    width: 10%;
    height: 30px;
    bottom: 0px;
    position: absolute;
    border-radius: 0px;
}

#messages {
    list-style: none;
    font-family: "Century Gothic", Futura;
    font-size: 19px;
}

#message-box {
    top: 35px;
    left: 0%;
    right: 0%;
    bottom: 4%;
    width: 100%;
    height: 90%;
    overflow: auto;
    position: absolute;
    background: transparent;
}

#first-time-setup {
    top: 6%;
    left: 0px;
    right: 0px;
    bottom: 0%;
    width: 100%;
    height: 94%;
    position: absolute;
    text-align: center;
}

* {
    margin: 0px;
}

*::selection {
    background-color: #99ff99;
}
