#message-input {
  left: 0%;
  width: 80%;
  margin: 0px;
  border: none;
  position: absolute;
  border-bottom: 1px solid gray;
}
#send-button {
  right: 0%;
  width: 16%;
  margin: 0px;
  box-shadow: none;
  position: absolute;
  background-color: lightgray;
}
#messages {
  top: 0%;
  height: 90%;
  position: absolute;
}
#input-area {
  bottom: 0%;
  height: 10%;
  position:  relative;
}
#message-input {
  margin: 0px;
  border: none;
  border-bottom: 1px solid gray;
}
#message-input {
  margin: 0px;
  border: none;
  border-bottom: 1px solid gray;
}
*:focus {
    outline: none;
}
