html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: white;
}
#header {
  top: 0%;
  left: 0px;
  width: 100%;
  height: 6%;
  right: 0px;
  margin: 0px;
  position: absolute;
  background-color: green;
}
#menu-button {
  left: 1%;
  width: 5vh;
  top: 0.6vh;
  height: 5vh;
  margin: 0px;
  cursor: pointer;
  position: absolute;
}
#menu-button::selection {
    background-color: transparent;
}
#login-button {
  right: 1%;
  margin: 0px;
  cursor: pointer;
  position: absolute;
}
#name-header {
  left: 40%;
  right: 40%;
  width: 20%;
  margin: 0px;
  position: absolute;
  text-align: center;
}
#user-menu-button {
  right: 1%;
  margin: 0px;
  cursor: pointer;
  position: absolute;
}
